<!DOCTYPE html>
<html>
<head>
  <title>Clintgeek's Porfolio</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<h2>Declarative Rendering</h2>
<body>
  App 1 - Simple Template 
	<div id="app">
    {{ message }}
  </div>
  
  <hr>

  App 2 - Binding Element Attributes 
  <div id="app2">
    <span v-bind:title="message">
      Hover here for cool effect!
    </span>
  </div>
  
  <hr>

  App 3 - If Statements
  <div id="app3">
    <span v-if="seen">Now you see me!</span>
  </div>
  
  <hr>

  App 4 - For Loops
  <div id="app4">
    <ul>
      <li v-for="item in items">
        {{ item.text }}
      </li>
    </ol>
  </div>

  <hr>
  
  App 5 - More For Loops
  <div id="app5">
    <span v-for="item in items">
      {{ item.text }}
    </span>
  </div>

  <hr>
  
  App 6 - Composing with Components
  <div id="app6">
    <ul>
      <movie-listing
        v-for="movie in movies"
        v-bind:movie="movie"
        v-bind:key="movie.title"
      ></movie-listing>
    </ul>
  </div>

  <hr>

  App 7 - Handling User Input
  <div id="app7">
    <p>{{ message }}</p>
    <input v-model="message">
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello out there!'
      }
    })

    var app2 = new Vue({
      el: '#app2',
      data: {
        message: 'You loaded this page on ' + new Date().toLocaleString()
      }
    })

    var app3 = new Vue({
      el: '#app3',
      data: {
        seen: true,
      }
    })

    var app4 = new Vue({
      el: '#app4',
      data: {
        items: [
          { text: "this" },
          { text: "seems" },
          { text: "how to" },
          { text: "build apps" }
        ]
      }
    })

    var app5 = new Vue({
      el: '#app5',
      data: {
        items: [
          { text: "this" },
          { text: "seems" },
          { text: "how to" },
          { text: "build apps" }
        ]
      }
    })

    Vue.component('movie-listing', {
      props: ['movie'],
      template: '<li>{{ movie.title }} / {{ movie.rating }}</li>'
    })

    var app6 = new Vue({
      el: '#app6',
      data: {
        movies: [
          { title: 'The Green Mile', rating: '7/10' },
          { title: 'Shawshank Redmeption', rating: '9/10' },
          { title: 'Liar, Liar', rating: '4/10' }
        ]
      }
    })

    var app7 = new Vue({
      el: '#app7',
      data: {
        message: "Please Input Text",
      }
    })
  </script>
</body>
</html>